.jumbotron {
    background-image: url(/assets/images/palm-leaf.png)
    
}

.hidden {
    display: none;
}

.emptySpace {
    visibility:hidden;
}

.gifs {
    height: 10rem;
    width: 16rem;
}

.card {
    width: 60rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px ridge gold;
    
    
}

button {
    margin-left: 27rem;
}

.timeRemaining, .question, .correctAnswer, .answers, .stats {
    text-align: center;
    margin-top: 2rem;
}

.correctAnswer {
    font-size: 3rem;
}

.question {
    font-style: italic;
    text-decoration: underline;
}

@keyframes flashred {
    0% {background-color: #FF4136;}
    100% {background-color: white;}
}

@keyframes flash {
    0% {background-color: orange;}
    50% {background-color: red;}
    100% {background-color: white;}
}

.timeWarning {
    border: 1px solid gray;
    width: 35%;
    margin-left: 20rem;
    font-weight: bold;
    animation-delay: 2s;
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 5;
    margin-top: 4rem;
    margin-bottom: 3rem;

}

.start {
    margin-top: 10rem;
}




.correctPicture {
    margin-left: 22rem;
}

